.main_heading {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: #000000;
    background-color: #fecaca;
    margin-top: 157px;
    margin-bottom: 60px;
}

.bookingsContainer {
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
}

.bookingsTable {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

.tableRow {
    border-bottom: 1px solid #000000;
    background-color: #e6e2e2;
    text-align: center;
}

.tableHeader {
    background-color: #d01c28;
    color: white;
    padding: 10px;
    text-align: center;
}

.tableCell {
    padding: 10px;
}

.actionButton {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #d01c28;
    color: white;
    border: none;
    cursor: pointer;
}

.actionButton:hover {
    background-color: #b01824;
}

.noBookings {
    text-align: center;
    padding: 20px;
}

@media (max-width: 1000px) {
    .actionButton {
        margin-right: 5px;
        padding: 4px 8px;
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    .main_heading {
        font-size: 1.2rem;
        padding: 20px 0;
        margin-top: 170px;
    }

    .tableHeader, .tableCell {
        padding: 8px;
        font-size: 0.9rem;
    }

    .actionButton {
        margin-right: 5px;
        padding: 4px 8px;
        font-size: 0.8rem;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .tableHeader, .tableCell {
        padding: 6px;
        font-size: 0.8rem;
        margin-top: 176px;
    }

    .actionButton {
        margin-right: 3px;
        margin-bottom: 5px;
        padding: 3px 6px;
        font-size: 0.7rem;
    }

    .noBookings {
        font-size: 0.9rem;
    }
}