.heading_main {
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 30px;
    background-color: #fecaca;
    margin-top: 85px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 110px;
    margin-bottom: 115px;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .formContainer {
    width: 100%;
    max-width: 700px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
  }
  .form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  .form_control label {
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
  }
  
  .button {
    padding: 14px 8px;
    background-color: #d01c28;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: 180px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border: none;
  }
  .eyeIcon {
    position: absolute; /* Position the icon absolutely */
    top: 50%; /* Center vertically */
    right: 10px; /* Align to the right */
    transform: translateY(-50%); /* Center vertically */
    cursor: pointer; /* Change cursor to pointer */
    color: #999; /* Icon color */
}
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .imageContainer {
      margin-bottom: 0;
    }
  
    .formContainer {
      margin-left: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .container{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .image_pass{
        width: 200px;
        height: 200px;
    }
    .formContainer {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .formContainer {
        width: 100%;
      }
    .heading_main {
      font-size: 1.5rem;
    }
  
    .input {
      font-size: 0.9rem;
    }
  
    .button {
      font-size: 0.9rem;
    }
  }