.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 59vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.backIcon {
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.2em; 
  color: #d01c28; 
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.recipient {
  font-size: 1.1em;
  color: #333;
}

.messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
}

.stickyInput {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
}

/* .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 59vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0; 

}

.backIcon {
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.2em;
  color: #d01c28;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.recipient {
  font-size: 1.1em;
  color: #333;
}

.messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
}

.stickyInput {
  background-color: #fff;
  padding: 10px;
  flex-shrink: 0;
} */
