.whole_sec {
  display: flex;
  gap: 100px;
  max-width: 1380px;
  margin: 0 auto;
}

.about_img {
  flex: 1;
  margin-top: 170px;
}
.about {
  border-radius: 10px;
}
.paras {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  padding: 20px;
  border-radius: 3px;
}

.para1 {
  text-align: center;
  margin-bottom: 45px;
  color: #ddd;
}
.para2 {
  text-align: center;
  color: #ddd;
}
h4 {
  font-weight: 700;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.para1 {
  background-color: #d01c28;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.para2 {
  background-color: #d01c28;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.translate-btn {
  background-color: #d01c28;
  margin-top: 100px;
}
@media only screen and (max-width: 1060px) {
  .whole_sec {
    flex-direction: column;
    align-items: center;
  }

  .about {
    order: 1;
    width: 95%;
    margin-left: 10px;
    border-radius: 10px;
  }

  .paras {
    order: 2;
    margin-top: -30px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1060px) {
  .about {
    height: 630px;
  }
}
