.container {
  display: flex;
  max-width: 1000px;
  margin-top: -20px;
  margin-left: 200px;
  align-items: flex-end;
}

.top_btn {
  display: flex;
  gap: 32px;
}
.s_btns{
  display: flex;
  flex-direction: row;
  gap: 80px;
}
form{
  width: 100%;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact_form form {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  flex-direction: column;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.form_control input {
  height: 40px;
  width: 100%;
  padding: 0 8px;
}
.form_control textarea {
  padding: 8px;
}

.form_control label {
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}

.contact_image img{
  margin-left: 20px;
}

@media screen and (max-width: 1330px) {
  .contact_image img {
    order: 1;
    height: 500px;
    width: 400px;
  }
}
@media screen and (max-width: 1130px) {
  .contact_image img {
    order: 1;
    height: 500px;
    width: 330px;
  }
}

@media screen and (max-width: 1060px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .contact_image img {
    order: 1;
    height: 350px;
    width: 400px;
    margin-bottom: 30px;
  }
  .contact_form {
    order: 2;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  .top_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    max-width: 600px; 
  }
}
@media screen and (max-width: 768px) {
  .contact_image img {
    order: 1;
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
  }
}

[dir="rtl"] .contact_form {
  text-align: right;
  margin-right: 0px; 
}

[dir="rtl"] .form_control {
  direction: rtl;
}

[dir="rtl"] .form_control label {
  text-align: right;
}

[dir="rtl"] .form_control input,
[dir="rtl"] .form_control textarea {
  text-align: right;
}