.section-white {
  background: #fff;
  padding: 50px 0; 
}

.team-item {
  background: #dadada;
  text-align: center;
  margin: 20px 0;
  padding: 40px 10px 30px 10px; 
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  height: 470px;
}

.team-item:hover {
  background: #d01c28;
}

.team-item h3 {
  margin: 20px 0 10px 0 !important; 
  color: black;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.section-title {
  font-weight: 700;
  font-size: 30px;
}

.section-subtitle {
  white-space: pre-line;
}

.team-item:hover h3 {
  color: #ddd;
}

.team-item:hover p {
  color: #ddd;
}

.team-info {
  display: block;
  margin-bottom: 0;
}

.team-info p {
  color: #acacac;
}

.team-img {
  max-width: 120px; 
  height: 120px; 
  padding: 6px; 
  background-color: #dedede;
  border-radius: 50%; 
  object-fit: cover;
}

.social-media {
  margin-left: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}

.social-media a {
  text-decoration: none;
  color: #333;
}

.social-media i {
  font-size: 24px; 
  width: 40px; 
  height: 40px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: #fff; 
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.social-media i:hover {
  background-color: #000000; 
}

.social-media .fab.fa-whatsapp {
  color: #25d366; 
}

.social-media .fab.fa-facebook {
  color: #3b5998; 
}

.social-media .fab.fa-twitter {
  color: #1da1f2;
}

.social-media .fab.fa-linkedin {
  color: #0077b5;
}

.social-media .fab.fa-instagram {
  color: #e4405f; 
}



@media screen and (max-width: 1070px) {
  .team-item:hover .team-img {
      background: #d01c28;
  }

  .team-item {
      padding: 30px 10px 30px 10px; 
  }

  .team-item h3 {
      margin: 15px 0 5px 0 !important;
  }

  .team-img {
      max-width: 100px; 
      height: 100px; 
  }

  .social-media i {
      font-size: 20px;
      width: 35px; 
      height: 35px; 
  }
}
