.book_container {
  display: flex;
  max-width: 1000px;
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 200px;
  align-items: flex-end;
}
.main_heading{
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-top: 85px;
  background-color: #fecaca;
}
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact_form form {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  flex-direction: column;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 600px;
  position: relative;
}
.form_control input {
  height: 40px;
  padding: 0 8px;
}
.form_control textarea {
  padding: 8px;
}
.form_control label {
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}
.booking_image img{
  margin-left: 120px;
  margin-bottom: 220px;
  height: 350px;
  width: 450px;
  padding-top: 25px;
}
.bookbtn {
  width: 100%;
  padding: 15px;
  background-color: #d01c28;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 1370px) {
  .main_heading{
      width: 100%;
  }
  .booking_image img{
      margin-left: 30px;
      margin-bottom: 220px;
      height: 350px;
      width: 450px;
    }
    
}

@media screen and (max-width: 1280px) {
  .main_heading{
       width: 100%;
   }
  .book_container{
       display: flex;
       flex-direction: column;
       align-items: center; 
       justify-content: center; 
       margin: auto; 
   }
  .booking_image img {
       order: 1;
       height: 300px;
       width: 350px;
       margin-bottom: 30px;
   }
  .contact_form {
       order: 2;
       width: 100%; 
       max-width: 600px; 
       margin-bottom: 20px; 
   }
}

@media screen and (max-width: 1060px) {
  .main_heading{
      width: 100%;
  }
  .container {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .booking_image img {
    order: 1;
    height: 300px;
    width: 350px;
    margin-bottom: 30px;
  }
  .contact_form {
    order: 2;
    width: 100%; 
    max-width: 600px; 
    margin-bottom: 20px; 
  }

}
@media screen and (max-width: 768px) {
  .main_heading{
      width: 100%;
      margin-top: 105px;
      font-size: 1.2rem;
  }
  .form_control {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      max-width: 90%;
      position: relative;
    }
    .booking_image{
      margin-right: 30px;
    }
    .bookbtn {
      margin-left: 25px;
      margin-right: 30px;
    }
} 

@media screen and (max-width: 480px) {
  .book_container {
    margin-right: 10px;
  }
  .form_control input{
    margin: auto;
    width: 100%;
  }
  .form_control textarea{
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
    .bookbtn {
      margin-right: 15px;
      width: 100%;
    }
    .booking_image img {
      width: 100%;
      
    }
} 